In [16]:
import pandas as pd
import numpy as np
import scipy.stats as sts

In [14]:
%%html
<strong><h3>1.Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20.

In [2]:
data_fr = pd.DataFrame({
    'Norm1': np.random.randn(20),
    'Norm2':np.random.standard_normal(size = 20),
    'Norm3':np.random.normal(loc = 10, scale = 3, size = 20),
    'Poisson':np.random.poisson(lam = 5, size = 20),
    'Uniform':np.random.uniform(size = 20),
    'Exponential':np.random.exponential(scale = 1, size = 20)    
})

data_fr

       Norm1     Norm2      Norm3  Poisson   Uniform  Exponential
0  -0.187821  1.809050   6.985847        6  0.724437     2.155066
1  -2.068431  0.082521   3.895677        6  0.601482     0.305948
2   1.658335  0.720258  10.515873        3  0.020474     0.974930
3  -0.760291 -0.141302   6.079766        4  0.339396     0.214014
4  -0.512898  0.048040   5.934857        2  0.620841     0.660813
5   0.945261  1.636541   8.327062        2  0.221713     0.360082
6   1.241770 -0.701698  11.436973        9  0.128555     0.093942
7   0.826865  0.770959  11.621480        6  0.820168     0.398719
8   0.470501 -1.063434  17.406042        2  0.932869     0.048239
9  -0.167526 -0.505745   9.719042        8  0.743933     1.576313
10 -0.228039 -1.339002   7.856234       13  0.181037     2.442042
11 -1.384865  0.048715   5.871077        2  0.841839     1.108376
12 -0.145890 -0.261047   8.629502        6  0.118767     0.317317
13  1.412032 -0.387668  12.905621        5  0.291056     0.374187
14 -0.220521 -1.020622   9.857164        9  0.044230     4.335723
15 -0.003631 -0.216751   8.707442        5  0.860887     0.564871
16 -0.874420  1.027948   8.887657        9  0.457159     0.916061
17  0.651292 -1.548811  12.723598        2  0.914292     0.144703
18 -0.450897  0.295761   2.764419        2  0.781157     2.941770
19  0.729345  0.510042   9.103779        9  0.638382     0.168631

In [15]:
%%html
<strong><h3>2.Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних. Детальний опис роботи критерію та приклад його розрахунку.

In [4]:
data_fr = pd.DataFrame({key: sorted(values) for key, values in data_fr.transpose().iterrows()})

In [6]:
def data_mean(arr,n):
    all_data = 0
    for i in range(n):
        all_data += arr[i]
    return all_data/n
data_mean_value = {i: data_mean(data_fr[i], 20) for i in data_fr}

In [8]:
def data_squared(arr,n, dat_mean):
    s = 0
    for i in range(n):
        s += ((arr[i]-dat_mean)**2)
    return s
data_squared_value = {i: data_squared(data_fr[i], 20, data_mean_value[i]) for i in data_fr}

In [11]:
a = [0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140]

def b(arr, n):
    B = 0
    for i in range(n//2):
        B += (a[i]*(arr[(n-1)-i] - arr[i]))
    return B

b_value = {i: b(data_fr[i], 20) for i in data_fr}

In [23]:
def W (squared, b):
    return (b**2)/squared

W_value = {i: W(b_value[i],data_squared_value[i]) for i in data_fr}

WTheory = sts.shapiro(data_fr['Norm1'])
W_value, WTheory

({'Norm1': 72.22459394481592,
  'Norm2': 63.99834098531247,
  'Norm3': 3190.2081555186583,
  'Poisson': 2882.210263018267,
  'Uniform': 2.7736812531437383,
  'Exponential': 140.12679315856616},
 (0.9734865427017212, 0.8261073231697083))

In [25]:
%%html
<strong><h3>3.Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution.

In [30]:
column_name = ["Variable", "Statistics", "Distribution"]
table = pd.DataFrame(columns = column_name)
table

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

In [33]:
%%html
<strong><h3>4.Занести в стовпчик Variable назви змінних.

In [35]:
table["Variable"] = data_fr.keys()
table

      Variable Statistics Distribution
0        Norm1        NaN          NaN
1        Norm2        NaN          NaN
2        Norm3        NaN          NaN
3      Poisson        NaN          NaN
4      Uniform        NaN          NaN
5  Exponential        NaN          NaN

In [37]:
%%html
<strong><h3>5. Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".

In [44]:
table["Distribution"] = [('normal' if 'Norm' in i else 'non-normal') for i in table["Variable"]]
table

      Variable Statistics Distribution
0        Norm1        NaN       normal
1        Norm2        NaN       normal
2        Norm3        NaN       normal
3      Poisson        NaN   non-normal
4      Uniform        NaN   non-normal
5  Exponential        NaN   non-normal

In [48]:
%%html
<strong><h3>6.Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].

In [49]:
for i in range(table.shape[0]):
    if 'Norm' in table["Variable"][i]:
        table['Statistics'][i] = f'{data_fr[table["Variable"][i]].mean()} {[data_fr[table["Variable"][i]].std()]}'
table

      Variable                                 Statistics Distribution
0        Norm1  0.046508517794112726 [0.9511188118084035]       normal
1        Norm2   -0.011812307923749954 [0.91406875464387]       normal
2        Norm3      8.961455622183932 [3.362527425298134]       normal
3      Poisson                                        NaN   non-normal
4      Uniform                                        NaN   non-normal
5  Exponential                                        NaN   non-normal

In [50]:
%%html 
<strong><h3>7.Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

In [51]:
for i in range(table.shape[0]):
    if 'Norm' not in table["Variable"][i]:
        table["Statistics"][i] = f'{data_fr[table["Variable"][i]].median()} [{data_fr[table["Variable"][i]].quantile(0.25)}; {data_fr[table["Variable"][i]].quantile(0.75)}]'
table

      Variable                                         Statistics Distribution
0        Norm1          0.046508517794112726 [0.9511188118084035]       normal
1        Norm2           -0.011812307923749954 [0.91406875464387]       normal
2        Norm3              8.961455622183932 [3.362527425298134]       normal
3      Poisson                                    5.5 [2.0; 8.25]   non-normal
4      Uniform  0.6111617849295901 [0.21154421910330548; 0.790...   non-normal
5  Exponential  0.4817949810487753 [0.2829643459537397; 1.2253...   non-normal

In [1]:
%%html
<strong><h3>8.Зберегти таблицю в пдф форматі</div>

In [ ]:
import matplotlib.backends.backend_pdf
import matplotlib.pyplot as plt
fig = plt.figure()
ax=fig.add_subplot(111)

cell_text = []
for row in range(len(table)):
    cell_text.append(table.iloc[row])

ax.table(cellText=cell_text, colLabels=table.columns, loc='center')
ax.axis('off')

pdf = matplotlib.backends.backend_pdf.PdfPages("table.pdf")
pdf.savefig(fig)
pdf.close()